
<header class="header">
    <div class="container-fluid row">
      <div class="col d-flex justify-content-start">
        <div style="padding-right:20px ;">
          <a href="index.html"><i class="fa-solid fa-house"></i></a>
        </div>
        <div style="padding-right:20px ;">
          <a href="about.html">Giới thiệu</a>
        </div>
        <div>
          <a href="product.html">Sản phẩm</a>
        </div>
      </div>
      <div class="navbar-brand d-flex justify-content-center">
        <a  href="index.html">
          <img src="img/logo.jpg" alt="logo" width="100px" height="80px">
          <div>Thy's Corner</div>
        </a>
      </div>
      <div class=" col text-right">
        <div class="d-flex justify-content-end row icon">
          <div>
              <a href="#"><img style="border-radius: 50%; margin-bottom: 3px;" src="img/user.jpg" alt="user" width="30" height="30"></a>
          </div>
          <div >
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>