<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-family: cursive; ">
                <i class="fa-solid fa-cake-candles"></i> 𝐓𝐢𝐞̣̂𝐦 𝐛𝐚́𝐧𝐡 𝐓𝐡𝐲’𝐬 𝐂𝐨𝐫𝐧𝐞𝐫 <i class="fa-solid fa-cake-candles"></i> 
            </h6>
            <p>
                <ul>
                    <li>
                       <strong>
                           Open: 7:00am -21:00pm
                       </strong> 
                    </li>
                    <li>
                        Bánh theo yêu cầu đặt trước ít nhất là 3-5 tiếng
                    </li>
                    <li>
                        <strong> Lưu ý: </strong>Màu sắc của bánh có thể sai lệch 20% - 30% so với thực tế
                    </li>
                    <li>
                        Phí ship tính theo unicar
                    </li>
                </ul>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Sản phẩm
            </h6>
            <p>
              <a href="#!" class="text-reset">Bánh sinh nhật</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Bánh ăn nhanh</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Set trang trí sinh nhật</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Pháo và phụ kiện khác</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Liên lạc</h6>
            <p><i class="fas fa-home me-3"></i> 157 Trần Phú, phường Phước Vĩnh, Hue, Vietnam</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              nhatthy223@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 
                076 262 1882
            </p>
            <p>
                <i class="fab fa-facebook-f"></i> facebook.com/ThysCorner
            </p>
        </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://www.facebook.com/ThysCorner">𝐓𝐢𝐞̣̂𝐦 𝐛𝐚́𝐧𝐡 𝐓𝐡𝐲’𝐬 𝐂𝐨𝐫𝐧𝐞𝐫</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->