
<nav class="navbar navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-angles-down"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <i class=" nav-item">
          <a class="nav-link" href="#">
            Bánh sinh nhật
          </a>
        </i>
        <i class=" nav-item">
          <a class="nav-link" href="#">
            Bánh ăn nhanh
          </a>
        </i>
        <i class=" nav-item">
          <a class="nav-link" href="#">
            Set trang trí sinh nhật
          </a>
        </i>
        <i class=" nav-item">
          <a class="nav-link" href="#">
            Pháo và phụ kiện khác
          </a>
        </i>
      </ul>
    </div>
</nav>